@model SIMAkademik.Models.TBLM_MAHASISWA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Delete Mahasiswa
        </h3>
    </div>
    <div class="panel-body">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NIK)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NIK)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NOPENDAFTARAN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NOPENDAFTARAN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NAMALENGKAP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NAMALENGKAP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NAMAPANGGILAN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NAMAPANGGILAN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TEMPATLAHIR)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TEMPATLAHIR)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TANGGALLAHIR)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TANGGALLAHIR)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EMAIL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EMAIL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TELEPON)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TELEPON)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ALAMAT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ALAMAT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RW)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RW)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>