@model IEnumerable<SIMAkademik.Models.TBLM_KARYAWAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            List Karyawan
        </h3>
    </div>
    <div class="panel-body">
        <p>
            <a href=@Url.Action("Create") class="btn btn-default btn-sm"><span class="fa fa-plus"> Create New</span></a>
        </p>
        <table id="ctbl" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMALENGKAP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMAPANGGILAN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TEMPATLAHIR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TANGGALLAHIR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ALAMAT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAMALENGKAP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAMAPANGGILAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TEMPATLAHIR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TANGGALLAHIR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ALAMAT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>
                        <td>
                            <a href=@Url.Action("Edit", new { id = item.NIK }) class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                            <a href=@Url.Action("Details", new { id = item.NIK }) class="btn btn-microsoft btn-sm"><i class="fa fa-edit"></i></a>
                            <a href=@Url.Action("Delete", new { id = item.NIK }) class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        $('#ctbl').DataTable();
    });
</script>
